<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="erp.employee.mapper.EmployeeMapper">

    <insert id="create" parameterType="Employee">
        INSERT INTO employee (employeeId, empNo, name, phone, status,
                              departmentId, positionId, companyId)
        VALUES (#{employeeId}, #{empNo}, #{name}, #{phone}, #{status},
                #{departmentId}, #{positionId}, #{companyId})
    </insert>

    <select id="nextId" resultType="long">
      SELECT employee_seq.NEXTVAL
      FROM dual
    </select>

</mapper>