<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="erp.auth.mapper.ErpAccountMapper">

    <select id="findByUuid" parameterType="string" resultType="ErpAccount">
        SELECT *
        FROM erp_account
        WHERE uuid = #{uuid}
    </select>

    <insert id="saveErpAccount" parameterType="ErpAccount">
        INSERT INTO erp_account (erp_account_id, login_email,
                                 login_password, uuid, role,
                                 updated_at, employee_id)
        VALUES (#{erpAccountId}, #{loginEmail},
                #{loginPassword}, #{uuid}, #{role},
                SYSTIMESTAMP, #{employeeId})
    </insert>

    <select id="getNextErpAccountId" resultType="Long">
        SELECT erp_account_seq.NEXTVAL
        FROM dual
    </select>

    <!-- 로그인 시-->
    <!-- *필요 데이터만 가져올 때 이점 -->
    <!-- 1. 네트워크 부하 감소 - DB → 애플리케이션 전송 데이터가 줄어듦-->
    <!-- 2. 성능 향상 - 필요한 데이터만 조회하여 처리 속도 개선-->
    <!-- 3. 메모리 사용량 절약, 4. 보안 강화 -->
    <select id="findByLoginEmail" parameterType="string"
            resultType="ErpAccount">
        SELECT password, uuid, role
        FROM erp_account
        WHERE login_email = #{loginEmail}
    </select>

</mapper>