<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="erp.purchase.mapper.PurchaseItemMapper">
    <select id="nextId" resultType="long">
        SELECT purchase_item_seq.NEXTVAL
        FROM dual
    </select>

    <insert id="saveAll">
        INSERT ALL
        <foreach collection="items" item="it">
            INTO purchase_item (
            purchase_item_id,
            purchase_id,
            item_id,
            quantity
            ) VALUES (
            #{it.purchaseItemId},
            #{it.purchaseId},
            #{it.itemId},
            #{it.quantity}
            )
        </foreach>
        SELECT 1 FROM dual
    </insert>


    <select id="findAllPurchaseItemFindRow" resultType="PurchaseItemFindRow">
        SELECT
        i.code AS code,
        i.name AS name,
        pi.quantity AS quantity
        i.price AS unitPrice,
        (pi.quantity * i.price) AS subtotal
        FROM purchase_item pi
        JOIN purchase p
        ON p.purchase_id = pi.purchase_id
        JOIN item i
        ON i.item_id = pi.item_id
        WHERE pi.purchase_id = #{purchaseId}

        AND i.deleted_at IS NULL
        AND p.deleted_at IS NULL

        AND
        <include refid="frag.tenantGuardAlias">
            <property name="alias" value="p"/>
        </include>
        AND
        <include refid="frag.tenantGuardAlias">
            <property name="alias" value="i"/>
        </include>

        ORDER BY pi.purchase_item_id ASC
    </select>

</mapper>