<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="erp.purchase.mapper.PurchaseMapper">
    
    <select id="nextId" resultType="long">
        SELECT purchase_seq.NEXTVAL
        FROM dual
    </select>

    <insert id="save">
        INSERT INTO purchase (purchase_id,
                              code,
                              supplier,
                              purchase_date,
                              total_quantity,
                              total_amount,
                              status,
                              employee_id,
                              company_id)
        VALUES (#{purchase.purchaseId},
                #{purchase.code},
                #{purchase.supplier},
                #{purchase.purchaseDate},
                #{purchase.totalQuantity},
                #{purchase.totalAmount},
                #{purchase.status},
                #{purchase.employeeId},
                #{tenantId})
    </insert>

</mapper>